.btn__form , .btn__add{
    font-size: 20px;
    margin: 30px;
}
.btn{
    border-radius: 5px;
    background-color: rgb(247, 163, 8);
    border: 2px solid rgb(117, 62, 9);
}

.btn__form:active{
box-shadow: 0 2px 8px 0px rgb(117, 62, 9);
transform: scale(1.1);
}

.btn__add:active{
transform: scale(.9);
box-shadow: 0 2px 8px 0px rgb(117, 62, 9);

}